[submodule "FoodCachingExperiments"]
	path = FoodCachingExperiments
	url = https://github.com/jbrea/FoodCachingExperiments.jl
[submodule "FoodCachingModels"]
	path = FoodCachingModels
	url = https://github.com/jbrea/FoodCachingModels.jl
[submodule "FoodCachingFitting"]
	path = FoodCachingFitting
	url = https://github.com/jbrea/FoodCachingFitting.jl
[submodule "FoodCachingPlotting"]
	path = FoodCachingPlotting
	url = https://github.com/jbrea/FoodCachingPlotting.jl
