[submodule "FoodCachingExperiments"]
	path = FoodCachingExperiments
	url = ./FoodCachingExperiments
[submodule "FoodCachingModels"]
	path = FoodCachingModels
	url = ./FoodCachingModels
[submodule "FoodCachingFitting"]
	path = FoodCachingFitting
	url = ./FoodCachingFitting
[submodule "FoodCachingPlotting"]
	path = FoodCachingPlotting
	url = ./FoodCachingPlotting
